<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body p-4">
          <h3 class="text-center mb-4">Create Account</h3>

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <!-- Full Name -->
            <div class="mb-3">
              <label class="form-label">Full Name</label>
              <input type="text" formControlName="fullName" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }" />
              <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                <div *ngIf="f['fullName']['errors']['required']">Full Name is required</div>
                <div *ngIf="f['fullName']['errors']['minlength']">Name must be at least 3 characters</div>
              </div>
            </div>

            <!-- Email -->
            <div class="mb-3">
              <label class="form-label">Email Address</label>
              <input type="email" formControlName="email" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email']['errors']['required']">Email is required</div>
                <div *ngIf="f['email']['errors']['email']">Enter a valid email address</div>
              </div>
            </div>

            <!-- Mobile -->
            <div class="mb-3">
              <label class="form-label">Mobile</label>
              <input type="mobile" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" />
              <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                <div *ngIf="f['mobile']['errors']['required']">Mobile number is required</div>
                <div *ngIf="f['mobile']['errors']['minlength']">Enter valid mobile number must be 10 digit</div>
              </div>
            </div>


            <!-- Password -->
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input type="password" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password']['errors']['required']">Password is required</div>
                <div *ngIf="f['password']['errors']['minlength']">Password must be at least 6 characters</div>
              </div>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
              <label class="form-label">Confirm Password</label>
              <input type="password1" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password1'].errors }" />
              <div *ngIf="submitted && f['password1'].errors" class="invalid-feedback">
                <div *ngIf="f['password1']['errors']['required']">Confirm password must same as Password</div>
                <div *ngIf="f['password1']?.errors?.['password']">Password is invalid</div>
              </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary w-100">Register</button>

            <div class="text-center">
              <small>Already have an account? <a routerLink="/login">Login here</a></small>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
